{% extends 'base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/listar_barberias.css' %}" rel="stylesheet">
<div class="barber-container">


    <!-- Lista de barberías -->
    <div class="barbershop-list">
        {% for barberia in barberias %}
        <a href="{% url 'barberia_seleccionada' barberia.id %}" class="barbershop-item">
            <div class="scissors-icon">✂️</div>
            <div class="barbershop-name">{{ barberia.nombre }}</div>
            {% if barberia.estado == 1 %}
            <div class="status open">Abierto</div>
            {% else %}
            <div class="status closed">Cerrado</div>
            {% endif %}
            <div class="arrow">▶</div>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock %}