<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link href="{% static 'css/register-login.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

</head>
<body>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="correo">Correo:</label>
            <input type="email" name="correo" required>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>

            <button type="submit">Iniciar sesión</button>
        </form>
        <a href="{% url 'register' %}">¿No tienes una cuenta? Regístrate aquí.</a>
    </div>

</body>
</html>