{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Bienvenidos al sistema</h2>
        
        <!-- Botones para cada ruta -->
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'crear_barberia' %}" class="btn btn-warning">Registrar Barbería</a>
            <a href="{% url 'listar_barberias' %}" class="btn btn-success">Lista de Barberías</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
            <a href="{% url 'register' %}" class="btn btn-secondary">Registrarse</a>
            <a href="{% url 'dashboard' %}" class="btn btn-info">Dashboard</a>
        </div>
    </div>
{% endblock %}
